<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
    <meta name="mobile-web-app-capable" content="yes">
    <link href="<%= BASE_URL %>favicon.ico" rel="icon">
    <link href="<%= BASE_URL %>manifest.json" rel="manifest">
    <link href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/css/alertify.min.css" rel="stylesheet">
    <link href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/css/themes/default.min.css" rel="stylesheet">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <style>
        body {
            touch-action: pan-x pan-y;
        }
    </style>

</head>
<body>
<noscript>
    <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled.
        Please enable it to continue.</strong>
</noscript>
<div id="app"></div>
<!-- built files will be auto injected -->

</body>
</html>
