<!DOCTYPE html>
<html lang=en style>

<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='expires' content='0'>
    <meta http-equiv='pragma' content='no-cache'>
    <meta content="yes" name="mobile-web-app-capable">
    <link href="<%= BASE_URL %>favicon.ico" rel="icon">
    <link href="<%= BASE_URL %>manifest.json" rel="manifest">
    <link href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/css/alertify.min.css" rel="stylesheet">
    <link href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/css/themes/default.min.css" rel="stylesheet">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link href="style.css" rel="stylesheet"/>
</head>


<body class="">
    <noscript>
        <strong>We're sorry but <%= htmlWebpackPlugin.options.title %>
            doesn't work properly without JavaScript enabled.
            Please enable it to continue.
        </strong>
    </noscript>
    <section id=divi-hero class=gallery-hero>
        <div class="row-container narrow">
            <div class="row center-align-columns">
                <div class="column-container column-7 retain-width-on-mobile">
                    <div class="column accent-purple">
                        <div class=dark-background>
                            <h1 class=headline-1>Aboki Shop</h1>
                            <h2>We offer live mid-market rates</h2>
                        </div>
                        <a class="button primary-button" onclick="doscroll()" >
                            <span>Try it For Free!</span>
                        </a>
                    </div>
                </div>
                <div class=column-container>
                    <div class=column>
                        <a class=video-popup href="https://www.youtube.com/watch?v=itoNb1lb5hY">
                            <div class=play-button-container>
                                <div class=play-button>
                                    <svg>
                                        <title>Play Button</title>
                                        <polygon points="10 33 10 1 34 17"></polygon>
                                    </svg>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class=row-container>
            <div class=row>
                <div class=column-container>
                    <div class="column centered accent-purple">
                        <h2 class=headline-3>Use Our Converter</h2>
                        <div class="" data-theme="dark" style="position:relative">
                            <div id="app"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="bottom-call-to-action" class=et-highlightable>
        <div class="row-container card card-featured background-none">
            <div class=row>
                <div class=column-container>
                    <div class="column centered dark-background accent-pink">
                        <h2>767,154 Customers Are AlreadyConverting their Currencies using Our Software</h2>
                    </div>
                </div>
            </div>
            <div class=row>
                <div class=column-container>
                    <div class="column centered dark-background accent-green">
                        <p class=lead>We offer a Live and Updated Currency Convertion Data.<span
                                class=guarantee>Risk-Free!</span></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
<script>
    function doscroll(){
        window.scrollTo(0, document.body.scrollHeight / 3);
    }
</script>
</html>
