<template>
  <div class="container">

    <div class="card main-constraint one-edge-shadow bg-light mb-1">
      <div class="card-body">

        <div class="row" id="#converter">
          <div class="col-12 col-md-5">
            <div class="dropdown-container">
              <label>
                <select v-model="select1" class="">

                  <option v-for="(value, index) in Tickers" v-if="value.id !== select2"
                          :key="index" :value="value.id"
                          class="form-control">
                    {{ value.id + ' ― ' + value.name }}
                  </option>
                </select>
                <div class="select-icon">
                  <svg class="icon" focusable="false" height="35" viewBox="0 0 104 128" width="25">
                    <path
                        d="m2e1 95a9 9 0 0 1 -9 9 9 9 0 0 1 -9 -9 9 9 0 0 1 9 -9 9 9 0 0 1 9 9zm0-3e1a9 9 0 0 1 -9 9 9 9 0 0 1 -9 -9 9 9 0 0 1 9 -9 9 9 0 0 1 9 9zm0-3e1a9 9 0 0 1 -9 9 9 9 0 0 1 -9 -9 9 9 0 0 1 9 -9 9 9 0 0 1 9 9zm14 55h68v1e1h-68zm0-3e1h68v1e1h-68zm0-3e1h68v1e1h-68z"></path>
                  </svg>
                </div>
              </label>
            </div>
          </div>

          <div class="col-12 col-md-2">
            <div class="dropdown-container">
              <span class="pb-4 px-5 col-md-2 ">
                    <button class="swap-button" @click="swap" type="button">
                         <img src="../assets/swap.png"  alt="swap">
                    </button>
              </span>
            </div>
          </div>

          <div class="col-12 col-md-5">
            <div class="dropdown-container">
              <label>
                <select v-model="select2" class="">

                  <option v-for="(value, index) in Tickers" v-if="value.id !== select1"
                          :key="index"
                          :value="value.id" class="form-control">
                    {{ value.id + ' ― ' + value.name }}
                  </option>
                </select>
                <div class="select-icon">
                  <svg class="icon" focusable="false" height="35" viewBox="0 0 104 128" width="25">
                    <path
                        d="m2e1 95a9 9 0 0 1 -9 9 9 9 0 0 1 -9 -9 9 9 0 0 1 9 -9 9 9 0 0 1 9 9zm0-3e1a9 9 0 0 1 -9 9 9 9 0 0 1 -9 -9 9 9 0 0 1 9 -9 9 9 0 0 1 9 9zm0-3e1a9 9 0 0 1 -9 9 9 9 0 0 1 -9 -9 9 9 0 0 1 9 -9 9 9 0 0 1 9 9zm14 55h68v1e1h-68zm0-3e1h68v1e1h-68zm0-3e1h68v1e1h-68z"></path>
                  </svg>
                </div>
              </label>
            </div>
          </div>
        </div>




        <div class="row">
          <div class="col-1 mx-auto">
            <span v-show="loading" class="spinner-border spinner-border-sm"></span>
          </div>
        </div>


        <div class="card cal">
          <div   v-if="data && !loading" class="row">
            <div class="col-12 col-md-5">
              <label>{{ select1 }}
                <div class="d-flex align-items-center justify-content-center">
                  <span class="pr-2">{{ getCurrencySymbol(select1).symbol }} </span>
                  <input v-model="calc1" :placeholder="select1" class="form-control"
                         @focusin="calc1 == 0? calc1='':calc1" @input="computeAltCurrency"/>
                </div>
              </label>
            </div>
            <div class="col-12 d-flex align-items-center justify-content-center col-md-2 h2">
              =
            </div>
            <div class="col-12 col-md-5">
              <label>{{ select2 }}
                <div class="d-flex align-items-center justify-content-center">
                  <span class="pr-2">{{ getCurrencySymbol(select2).symbol }} </span>
                  <input v-model="calc2" :placeholder="select2" class="form-control"
                         @focusin="calc2 == 0? calc2='':calc2" @input="computeBaseCurrency"/>
                </div>
              </label>
            </div>

            <div class="col-md-4 offset-md-4">
              <div v-if="data && !loading" >
                <p style="font-size: 12px;color: #454444; font-family: Arial">
                  {{ getCurrencySymbol(select1).symbol }}1
                  <span class="font-weight-bold">{{ select1 }}</span>
                  is equal to {{ getCurrencySymbol(select2).symbol }}{{ data }}
                  <span class="font-weight-bold">{{ select2 }} </span>
                </p>
              </div>
            </div>
          </div>
          <!--          <div v-else class="row">
                      <skeletal-loader/>
                    </div>-->
        </div>

      </div>
      <ShareNetwork
          network="facebook"
          :url=url
          :title= getTitle
          :description=getTitle
          :quote=getTitle
          :hashtags=hashtags
      >
        Share on Facebook
      </ShareNetwork>
      <ShareNetwork
          network="whatsapp"
          :url=url
          :title= getTitle
          :description=desc
      >
        Share on WhatsApp
      </ShareNetwork>
      <ShareNetwork
          network="twitter"
          :url=url
          :title=getTitle
          :description=desc
          :hashtags=hashtags
      >
        Share on Twitter
      </ShareNetwork>
      <ShareNetwork
          network="SMS"
          :url=url
          :title= getTitle
          :description=desc
      >
        Share as SMS
      </ShareNetwork>

    </div>


  </div>
</template>

<script>
import Tickers from '@/assets/Tickers';
import VueSkeletonLoader from 'skeleton-loader-vue';
import skeletalLoader from './skeletal-loader';

export default {
  name: "MainBoard",
  data: () => ({
    url:"https://aboki.netlify.app",
    title:"Say hi to Aboki! A brand new, extremely fast currency converter",
    desc:"It’s a brand new currency converter setup by Victor",
    quote:"The conversion is so fast it\\'s near instant. - Victor",
    hashtags:"Aboki,AbokiConverter,AbokiApp",
    Tickers: Tickers.sort((a, b) => a.name.localeCompare(b.name)),
    select1: localStorage.getItem('select1') || 'USD',
    select2: localStorage.getItem('select2') || 'NGN',
    data: 390, //null,
    loading: null,
    calc1: 0,
    calc2: 0
  }),
  components: {VueSkeletonLoader, skeletalLoader},
  methods: {
    async getData() {
      this.loading = true;
      this.data = null;
      this.calc1 = 0;
      this.calc2 = 0;
      localStorage.setItem('select1', this.select1);
      localStorage.setItem('select2', this.select2);

      this.getPrice(this.select1, this.select2).then(
          res => {
            this.data = res;
            // console.log(res)
            this.loading = false;
            // this.$alertify.success("loaded")
          },
          err => {
            this.loading = false;
            this.$alertify.error("Failed to fetch")
          }
      );
    },
    swap (){
      let temp =this.select1;
      this.select1 = this.select2;
      this.select2 = temp;
    },
    async getPrice(sym_1, sym_2) {
      let symbol = sym_1 + "_" + sym_2;
      return fetch(`https://cors.bridged.cc/https://free.currconv.com/api/v7/convert?q=${symbol}&compact=ultra&apiKey=af089e1e0960a4464646`)
          .then(function (response) {

            if (response.status !== 200) {
              return null;
            }
            return response.json();
          }).then(function (json) {
            // console.log(json);
            return json[symbol].toFixed(3);
          })
    },
    computeBaseCurrency() {
      this.calc1 = (this.data * this.calc2).toFixed(2);
      this.title = this.getTitle;
      // console.log(this.getTitle);
    },
    computeAltCurrency() {
      this.calc2 = (this.data * this.calc1).toFixed(2);
      this.title = this.getTitle;
      // console.log(this.getTitle);
    },
    getCurrencySymbol(id=null) {
      if(id){
        return Tickers.filter(currency => currency.id === id)[0];
      }
      return {symbol: "null", name: "null"}
    }
  },
  mounted() {
    if(!localStorage.getItem("select1")){
      localStorage.setItem("select1", "USD");
      localStorage.setItem("select2", "NGN");
    }
    this.getData();
  },
  computed: {
    getTitle: function () {
      return "Say hi to Aboki (http://aboki.netlify.app). A brand new, extremely fast currency converter. I just converted "+ this.getCurrencySymbol(this.select1).symbol+""+this.calc1+" " +this.getCurrencySymbol(this.select1).name+ " to " + this.getCurrencySymbol(this.select2).symbol+""+ this.calc2+ " "+ this.getCurrencySymbol(this.select2).name+".\n";
    }
  },
  watch: {
    select1: function () {
      this.getData();
    },
    select2: function () {
      this.getData();
    }
  }
}
</script>

<style scoped>
.demo {
  margin: 100px auto;
}

.dropdown-container {
  width: 100%;
  margin: 10px auto;
  position: relative;
}

select {
  width: 100%;
  height: 50px;
  font-size: 75%;
  font-weight: bold;
  cursor: pointer;
  border-radius: 15px;
  background-color: transparent;
  /*background-image: linear-gradient(to right, #555093,#555093,#271c8b);*/
  border: 1px solid #271c8b;
  border-bottom: 2px solid #271c8b;
  color: #271c8b;
  appearance: none;
  padding: 10px;
  padding-right: 38px;
  -webkit-appearance: none;
  -moz-appearance: none;
  transition: color 0.3s ease, background-color 0.3s ease, border-bottom-color 0.3s ease;
}

input {
  width: 100%;
  height: 50px;
  font-size: 105%;
  font-weight: bold;
  cursor: pointer;
  border-radius: 15px;
  background-color: transparent;
  /*background-image: linear-gradient(to right, #555093,#555093,#271c8b);*/
  border: 2px solid #271c8b;
  color: #271c8b;
  appearance: none;
  padding: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  transition: color 0.3s ease, background-color 0.3s ease, border-bottom-color 0.3s ease;
}

/* For IE <= 11 */
select::-ms-expand {
  display: none;
}

.select-icon {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 30px;
  height: 36px;
  pointer-events: none;
  border: 0;
  /*border: 2px solid #271c8b;*/
  padding-left: 0; /*5px*/
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

input:hover,
input:focus {
  color: #271c8b;
  border: 1px solid #271c8b;
  background-color: white;
  border-radius: 10px;
}

.select-icon svg.icon {
  transition: fill 0.3s ease;
  fill: #271c8b;
}

select:hover,
select:focus {
  color: #271c8b;
  /*background-color: white;*/
  background-image: linear-gradient(to right, #ffffff, #e1e0e8,#ffffff);
  border-bottom-color: #DCDCDC;
}

select:hover ~ .select-icon,
select:focus ~ .select-icon {
  /*background-color: white;*/
  background-image: linear-gradient(to right, #ffffff, #e1e0e8,#ffffff);
  border-color: #DCDCDC;
}

select:hover ~ .select-icon svg.icon,
select:focus ~ .select-icon svg.icon {
  fill: #271c8b;
}

.swap-button {
  display: inline-flex;
  /*background: rgb(215, 222, 227) none repeat scroll 0% 0%;*/
  /*border: 1px solid rgb(221, 221, 221);*/
  border-radius: 50%;
  padding: 0;
  width: 40px;
  height: 40px;
}

.swap-button img{
  border-radius: 50%;
}
.swap-button:hover{
  width: 43px;
  height: 43px;
  /*background-image: linear-gradient(to right, #7368bf,#ffffff);*/
}

.one-edge-shadow {
  border-radius: 10px;
  border: 0;
  box-shadow: 5px 5px 5px #888888,
  -5px 5px 5px #888888,
  -5px -1px 5px #888888;
}

.cal{
  background-image: linear-gradient(to right, #dedde7, #ffffff, #dedde7, #ffffff);
  border-radius: 10px;
  border: 0;
  box-shadow: 5px 5px 5px #888888,
  -5px 5px 5px #888888,
  -5px -1px 5px #888888;
}

</style>
