<template>
  <div>
    <div class="d-block d-sm-none">
      <div class="col-md-8 col-sm-8 mx-auto d-flex align-items-center justify-content-between">
        <!-- two intentional loose type conversions in this scope (input fields)-->
        <div class="form-group">
          <p class="d-flex align-items-center justify-content-center">
            <vue-skeleton-loader
                type="rect"
                :width="30"
                :height="15"
                animation="pulse"
                :rounded="true"
            />
          </p>
          <vue-skeleton-loader
              type="rect"
              :width="100"
              :height="33"
              animation="wave"
              :rounded="true"
          />
        </div>
        <div class="px-3 pb-2">=</div>
        <div class="form-group">
          <p class="d-flex align-items-center justify-content-center">
            <vue-skeleton-loader
                type="rect"
                :width="30"
                :height="15"
                animation="pulse"
                :rounded="true"
            />
          </p>
          <vue-skeleton-loader
              type="rect"
              :width="100"
              :height="33"
              animation="wave"
              :rounded="true"
          />
        </div>
      </div>
    </div>

    <div class="d-none d-sm-block">
      <div class="col-md-8 col-sm-8 mx-auto d-flex align-items-center justify-content-between">
        <!-- two intentional loose type conversions in this scope (input fields)-->
        <div class="form-group">
          <p class="d-flex align-items-center justify-content-center">
            <vue-skeleton-loader
                type="rect"
                :width="60"
                :height="15"
                animation="pulse"
                :rounded="true"
            />
          </p>
          <vue-skeleton-loader
              type="rect"
              :width="180"
              :height="33"
              animation="wave"
              :rounded="true"
          />
        </div>
        <div class="px-3 pb-2">=</div>
        <div class="form-group">
          <p class="d-flex align-items-center justify-content-center">
            <vue-skeleton-loader
                type="rect"
                :width="60"
                :height="15"
                animation="pulse"
                :rounded="true"
            />
          </p>
          <vue-skeleton-loader
              type="rect"
              :width="180"
              :height="33"
              animation="wave"
              :rounded="true"
          />
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import VueSkeletonLoader from 'skeleton-loader-vue';

export default {
  name: "skeletal-loader",
  components: {VueSkeletonLoader}
}
</script>

<style scoped>

</style>