<template>
  <div id="app">
    <v-app>
      <v-banner
          v-if="deferredPrompt"
          class="text-left"
          color="info"
          dark
      >
        Get our free app. It won't take up space on your phone and also works offline!

        <template v-slot:actions>
          <v-btn text @click="dismiss">Dismiss</v-btn>
          <v-btn text @click="install">Install</v-btn>
        </template>
      </v-banner>


      <!--
              <div class="py-8 bg-dark">
                <div class="text-center font-weight-bold h1 mt-5 mb-2 text-white-50">Currency Converter System</div>
              </div>
              <p class="text-center font-weight-thin sub-heading"><span>select two currencies to compare</span></p>
      -->

      <div v-cloak class="pb-2">
        <div class="d-flex justify-content-center">
          <a @click="reloadF">
            <img alt="refresh" height="45" src="./assets/refresh.png" width="45"/>
          </a>
        </div>
        <p class="small">click to refresh</p>

        <MainBoard :key="reload"/>
      </div>


    </v-app>
  </div>
</template>
<script>
import MainBoard from "@/components/MainBoard";
// import MainBoard2 from "@/components/MainBoard2";

export default {
  name: "App",
  components: {
    MainBoard,
    // MainBoard2
  },
  data() {
    return {
      deferredPrompt: null,
      reload: false
    };
  },
  created() {
    window.addEventListener("beforeinstallprompt", e => {
      e.preventDefault();
      // Stash the event so it can be triggered later.
      this.deferredPrompt = e;
    });
    window.addEventListener("appinstalled", () => {
      this.deferredPrompt = null;
    });
  },
  methods: {
    async dismiss() {
      this.deferredPrompt = null;
    },
    async install() {
      this.deferredPrompt.prompt();
    },
    reloadF() {
      this.reload = !this.reload
    }
  },
};
</script>

<style scoped>
.sub-heading {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 20px 0 20px 0;
}

.sub-heading span {
  background: #fff;
  padding: 0 10px;
}

</style>
